*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Onest', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/OnestBlack.woff') format('woff');
  font-weight: 900;
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/OnestExtraBold.woff') format('woff');
  font-weight: 800;
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/OnestBold.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/OnestMedium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/OnestRegular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/OnestLight.woff') format('woff');
  font-weight: 200;
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/OnestThin.woff') format('woff');
  font-weight: 100;
}

.container{
  width: 1280px;
  margin: 0 auto;
}

.header_wrapper {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 1021px;
  margin: 0 auto;
}
.header_logo {
  img{
    max-width: 100%;
    height: auto;
    padding-bottom: 15px;
  }

}
.header_menu {
  ul{
    display: flex;
    gap: 28px;
  }
  li {
    float: left;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    list-style-type: none ;
  }
  li.dropdown::after{
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: url('../img/chevron-down.png');
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -14px;
  }
}
.header_search {
  display: flex;
  gap: 24px;
  input.search-input{
    width: 0;
    height: 31px;
    opacity: 0;
    transition: 0.2s all ease-in-out;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 40px;
    font-family: 'Onest';
    font-weight: 500;
    font-size: 16px;
    &.active{
      width: 220px !important;
      opacity: 1;
    }
    &:active, &:focus{
      outline: none;
    }
  }
 svg{
  cursor: pointer;
  position: relative;
  left: 50px;
  z-index: 2;
  path{
    transition: 0.2s all ease-in-out;
  }
  &.active{
    path{
      stroke: #3694E7;
    }
  }
 }
}
.header_lang {
  display: flex;
  opacity: 0.3;
  a{
  text-decoration: none ;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  }
  *{
    margin-right: 4px;
  }
  &.displaynone{
   display: none;
  }
}
.main-banner {
  position: relative;
  display: flex;
  justify-content: center;
  .banner-text{
    position: absolute;
    bottom: 56px;
    width: 788px;
    text-align: center;
    color: #fff;
    h3{
      font-weight: 300;
      font-size: 47px;
      line-height: 60px;
      margin-bottom: 8px;
      text-transform: uppercase;
    }
    p{
      font-weight: 300;
      font-size: 18px;
      line-height: 23px;
      text-align: center;
      margin-bottom: 32px;
    }
    button{
      width: 545px;
      font-weight: 700;
      font-size: 18px;
      line-height: 47px;
      border: 1px solid #FFFFFF;
      border-radius: 5px;
      background: none;
      color: #fff;
    }
  }
}
.main-items {
  width: 1000px;
  margin: 72px auto;
}
.main-item {
  // display: flex;
  // justify-content: space-between;
  width: 100%;
  min-height: 355px;
  box-shadow: 0px 4px 27px rgba(21, 21, 21, 0.08);
  border-radius: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
  transition: 0.4s all ease-in-out;
  &:nth-child(odd){
    .item-img{
      order: 2;
      float: right;
    }
  }
  &:hover {
    .item-text{
      h4{
        color: #1889C5;
      
      }
    }
  }
  // &::before{
  //   content: "";
  //   position: absolute;
  //   z-index: 10;
  //   top: 24px;
  //   right: 24px;
  //   width: 42px;
  //   height: 42px;
  //   background: url('../img/item-open.png') no-repeat;
  //   border-radius: 50%;
  //   cursor: pointer;
  // }
  button{
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    .btn-wrapper{
      background-color: #1889C5;
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    .plusminus {
      position: relative;
      width: 14px;
      height: 14px;
      cursor: pointer;
      
      &.active {
        &:before {
          transform: translatey(-50%) rotate(-90deg);
          opacity: 0;
        }
        &:after {
          transform: translatey(-50%) rotate(0);
        }
      }
      
      &:before , &:after {
        content: "";
        display: block;
        background-color: #fff;
        position: absolute;	
        border-radius: 1px;	
        top: 50%; left: 0;
        transition: .4s;
        width: 100%;
        height: 2px;
      }
      
      &:before {		
        transform: translatey(-50%);
      }
      
      &:after {
        transform: translatey(-50%) rotate(90deg);
      }
      
    }
  }
  .item-img{
    img{
      float: left;
    }
  }
}
.item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding: 45px 24px 56px 24px;
  &>p{
    padding-left: 24px;
    padding-right: 24px;
  }

  h4{
    font-size: 32px;
    line-height: 41px;
    font-weight: 400;
    margin-bottom: 27px;
    transition: 0.15s all ease-in-out;
    padding-left: 24px;
    padding-right: 24px;
  }
  p{

  &:not(:last-child){
  margin-bottom: 24px;
  }
  &::first-letter{
    text-transform: uppercase;
  }
  }
  ul{
    margin-bottom: 20px;
    padding-left: 20px;
    margin-left: 30px;
    li{
      p{
        padding: 0;
      }
    }
  }
  .more-info{
    max-height: 0;
    &.active{
      margin-top: 35px;
    }
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
    

  }
  .more-info p {
  width: 100%;
  }


}

.info-block {
  display: flex;
  gap: 14px;
  margin: 0 15px 48px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 24px;

  div{
    // flex-basis: 33%;
    box-shadow: 0px 3.61239px 24.3836px rgba(21, 21, 21, 0.08);
    border-radius: 8px;
    padding: 24px;

  }
  div.central-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    img{
      margin-bottom: 18px;
    }
  }
  .block_title {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #3694E7;
  }
  .block_text {
    font-size: 16px;
    line-height: 20px;
    color: #3694E7;
    p{
      padding: 0;
    }
    b{
      font-weight: bold;
    }
  }
}

.more-info {
  h5{
    font-size: 32px;
    line-height: 41px;
    margin-bottom: 33px;
    padding-left: 24px;
  }
  .sertificates {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 24px;

    .sertificates-item {
      flex-basis: 49%;
      box-shadow: 0px 3.61239px 24.3836px rgba(21, 21, 21, 0.08);
      border-radius: 8px;
      padding: 24px;
      p:first-child{
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: #3694E7;
        margin-bottom: 16px;
      }
      p{
        font-size: 16.2557px;
        line-height: 21px;
        color: #3694E7;
        padding: 0;
      }
    }
  }
}

