*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Onest', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/OnestBlack.woff') format('woff');
  font-weight: 900;
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/OnestExtraBold.woff') format('woff');
  font-weight: 800;
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/OnestBold.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/OnestMedium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/OnestRegular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/OnestLight.woff') format('woff');
  font-weight: 200;
}
@font-face {
  font-family: 'Onest';
  src: url('../fonts/OnestThin.woff') format('woff');
  font-weight: 100;
}


.header_wrapper {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin: 0 auto;
}
.header_logo {
  img{
    max-width: 100%;
    height: auto;
    padding-bottom: 15px;
  }

}
.header_menu {
    & > ul{
    display: flex;
    gap: 28px;
    align-items: center;
    & > li {
      float: left;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      position: relative;
      list-style-type: none ;
      a{
        text-decoration: none;
        color: #000000;
      }
    }
  }

  .dropdown{
    .btn{
      text-transform: uppercase;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
    }
    button.btn:active{
      outline: none !important;
      border: none !important;
    }
    button.btn.show{
        outline: none !important;
        border: none !important;
        color: #3694E7;
    }
    button.btn{
      outline: none !important;
      border: none !important;
  }
  }

 
}
.nav-link{
  text-transform: uppercase !important;
}
.header_search {
  display: flex;
  gap: 24px;
  position: relative;
  width: 250px;

  input.search-input{
    width: 0;
    height: 31px;
    opacity: 0;
    transition: 0.2s all ease-in-out;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 40px;
    font-family: 'Onest';
    font-weight: 500;
    font-size: 16px;
    &.active{
      width: 220px !important;
      opacity: 1;
    }
    &:active, &:focus{
      outline: none;
    }
  }
 svg{
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  left: 5px;
  z-index: 2;
  path{
    transition: 0.2s all ease-in-out;
  }
  &.active{
    path{
      stroke: #3694E7;
    }
  }
 }
}
.dropdown-menu{
  border: none;
  box-shadow: 0px 4px 27px rgba(21, 21, 21, 0.08);
}
.header_lang {
  display: flex;
  opacity: 0.3;
  transition: all 0.2s ease-in-out;
  a{
  text-decoration: none ;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  }
  *{
    margin-right: 4px;
  }
  &.displaynone{
  //  display: none;
  
  width: 0;
  opacity: 0;
  }
}
.main-banner {
  position: relative;
  display: flex;
  justify-content: center;
  img{
    width: calc(100% + 40px);
    height: auto;
  }
  .banner-text{
    position: absolute;
    bottom: 56px;
    width: 788px;
    text-align: center;
    color: #fff;
    h3{
      font-weight: 300;
      font-size: 47px;
      line-height: 60px;
      margin-bottom: 8px;
      text-transform: uppercase;
    }
    p{
      font-weight: 300;
      font-size: 18px;
      line-height: 23px;
      text-align: center;
      margin-bottom: 32px;
    }
    button{
      width: 545px;
      font-weight: 700;
      font-size: 18px;
      line-height: 47px;
      border: 1px solid #FFFFFF;
      border-radius: 5px;
      background: none;
      color: #fff;
    }
  }
}
.main-items {
  margin: 72px auto;
}
.main-item {
  // display: flex;
  // justify-content: space-between;
  width: 100%;
  min-height: 355px;
  box-shadow: 0px 4px 27px rgba(21, 21, 21, 0.08);
  border-radius: 12px;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
  transition: 0.4s all ease-in-out;
  &:nth-child(odd){
    .item-img{
      order: 2;
      float: right;
    }
  }
  &:hover {
    .item-text{
      h4{
        color: #1889C5;
      
      }
    }
  }

  .item-img{
    img{
      float: left;
    }
  }

  button{
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 64px;
    .btn-wrapper{
      background-color: #1889C5;
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    .plusminus {
      position: relative;
      width: 14px;
      height: 14px;
      cursor: pointer;
      
      &.active {
        &:before {
          transform: translatey(-50%) rotate(-90deg);
          opacity: 0;
        }
        &:after {
          transform: translatey(-50%) rotate(0);
        }
      }
      
      &:before , &:after {
        content: "";
        display: block;
        background-color: #fff;
        position: absolute;	
        border-radius: 1px;	
        top: 50%; left: 0;
        transition: .4s;
        width: 100%;
        height: 2px;
      }
      
      &:before {		
        transform: translatey(-50%);
      }
      
      &:after {
        transform: translatey(-50%) rotate(90deg);
      }
      
    }
  }
}

.item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding: 45px 110px 56px 110px;
  // &>p{
  //   padding-left: 24px;
  //   padding-right: 24px;
  // }

  h4{
    font-size: 32px;
    line-height: 41px;
    font-weight: 400;
    margin-bottom: 27px;
    transition: 0.15s all ease-in-out;
  }
  p{

  &:not(:last-child){
  margin-bottom: 24px;
  }
  &::first-letter{
    text-transform: uppercase;
  }
  }
  ul{
    margin-bottom: 20px;
    padding-left: 20px;

    li{
      p{
        padding: 0;
        margin-bottom: 10px;
      }
    }
  }
  .more-info{
    max-height: 0;
    opacity: 0;
    &.active{
    margin-top: 35px;
    opacity: 1;

    }
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    

  }
  .more-info p {
  width: 100%;
  }


}

.info-block {
  display: flex;
  gap: 14px;
  margin: 0 15px 48px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 24px;

  div{
    // flex-basis: 33%;
    box-shadow: 0px 3.61239px 24.3836px rgba(21, 21, 21, 0.08);
    border-radius: 8px;
    padding: 24px;

  }
  div.central-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    img{
      margin-bottom: 18px;
    }
  }
  .block_title {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #3694E7;
  }
  .block_text {
    font-size: 16px;
    line-height: 20px;
    color: #3694E7;
    p{
      padding: 0;
    }
    b{
      font-weight: bold;
    }
  }
}

.more-info {
  h5{
    font-size: 32px;
    line-height: 41px;
    margin-bottom: 33px;
    padding-left: 24px;
  }
  .sertificates {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 24px;

    .sertificates-item {
      flex-basis: 49%;
      box-shadow: 0px 3.61239px 24.3836px rgba(21, 21, 21, 0.08);
      border-radius: 8px;
      padding: 24px;
      p:first-child{
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
        color: #3694E7;
        margin-bottom: 16px;
      }
      p{
        font-size: 16.2557px;
        line-height: 21px;
        color: #3694E7;
        padding: 0;
      }
    }
  }
}

.principes {

  .container {
    .about {
      display: flex;
      // gap: 120px;
      h3{
        text-transform: uppercase;
        font-weight: 400;
        font-size: 47px;
        line-height: 60px;
        flex: 1 0 330px;
      }
      p{
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        padding-right: 110px;
      }
    }  
  }

  .container-fluid{
    background-color: #133457;
    color: #fff;
    transition: 0.2s all ease-in-out;
    &.active{
      background-color: #3694E7;
    }
  }

  .principes_item {
    position: relative;
    width: 1320px;
    margin: 0 auto;
    min-height: 325px;

    button{
      background: none;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      position: absolute;
      top: 24px;
      right: 64px;
      .btn-wrapper{
        background-color: #1889C5;
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
      .plusminus {
        position: relative;
        width: 14px;
        height: 14px;
        cursor: pointer;
        
        &.active {
          &:before {
            transform: translatey(-50%) rotate(-90deg);
            opacity: 0;
          }
          &:after {
            transform: translatey(-50%) rotate(0);
          }
        }
        
        &:before , &:after {
          content: "";
          display: block;
          background-color: #fff;
          position: absolute;	
          border-radius: 1px;	
          top: 50%; left: 0;
          transition: .4s;
          width: 100%;
          height: 2px;
        }
        
        &:before {		
          transform: translatey(-50%);
        }
        
        &:after {
          transform: translatey(-50%) rotate(90deg);
        }
        
      }
    }

    .principes_item_text {
      padding-right: 148px;
      padding-top: 79px;
      padding-left: 170px;
      h5{
        font-weight: 300;
        font-size: 47px;
        line-height: 60px;
      }
      p{
        font-weight: 300;
        font-size: 18px;
        line-height: 23px;  
      }
      .more-info{
        max-height: 0;
        opacity: 0;
        display: flex;
        justify-content: space-between;

        .central-info{
          border: 2px solid rgba(255, 255, 255, 0.2);
          border-radius: 8px;
          box-shadow: none;
          p{
            font-weight: 700;
            font-size: 18px;
            line-height: 23px;
            text-align: center;
          }
        }
        &.active{
        margin-top: 35px;
        opacity: 1;
        }
        overflow: hidden;
        transition: all 0.2s ease-in-out;
      }
    }
  }  
}

.branches {
  .container {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    .branch {
      height: 374px;
      width: 658px;
      color: #fff;
      padding: 52px 64px;
      background-position: center bottom;
      background-repeat: no-repeat;
      p:first-child{
        font-weight: 700;
        font-size: 18px;
        line-height: 23px;
      }
      p:last-child{
        font-weight: 500;
        font-size: 47px;
        line-height: 60px;
      }
    }
  }
  .branch:nth-child(1){
    background-image: linear-gradient(#3694E7 0% 50%, transparent 70%), url('../img/branches/usa.jpg');
  }
  .branch:nth-child(2){
    background-image: linear-gradient(#3694E7 0% 50%, transparent 70%), url('../img/branches/germany.jpg');
  }
  .branch:nth-child(3){
    background-image: linear-gradient(#3694E7 0% 50%, transparent 70%), url('../img/branches/china.jpg');
  }
  .branch:nth-child(4){
    background-image: linear-gradient(#3694E7 0% 50%, transparent 70%), url('../img/branches/korea.jpg');
  }
  .branch:nth-child(5){
    background-image: linear-gradient(#3694E7 0% 50%, transparent 70%), url('../img/branches/india.jpg');
  }
  .branch:nth-child(6){
    background-image: linear-gradient(#3694E7 0% 50%, transparent 70%), url('../img/branches/kazakstan.jpg');
  }
  .branch:nth-child(7){
    background-image: linear-gradient(#3694E7 0% 50%, transparent 70%), url('../img/branches/uzbekistan.jpg');
  }
  .branch:nth-child(8){
    background-image: linear-gradient(#3694E7 0% 50%, transparent 70%), url('../img/branches/turkey.jpg');
  }
}

@media all and (min-width: 992px) {
	.dropdown-menu{ display: none; }
	.dropdown:hover .dropdown-menu{ display: block; }
}	